{% extends "partials/adminBase.html" %} {% load static %} {% block title %}Add
Vaccination{% endblock title %} {% block extra_css %}
<link
  href="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}"
  rel="stylesheet"
/>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>
<style>
  body {
    background-color: #f0d28c;
    padding-bottom: 20px;
  }

  .form-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .form-heading {
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 2rem;
    color: #780000 !important;
  }

  .description-box {
    height: 150px;
    resize: none;
  }

  .btn-primary {
    background-color: #780000 !important;
    border-color: #780000 !important;
  }

  .custom-button {
    width: 150px;
  }
</style>
{% endblock extra_css %} {% block content %}
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div
            class="page-title-box d-sm-flex align-items-center justify-content-between"
          >
            <h4 class="mb-sm-0 font-size-18">Amenity</h4>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="form-container">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-4">
              <label for="name" class="form-label">Name:</label>
              {{ form.name }}
            </div>

            <div class="mb-4">
              <label for="image" class="form-label">Image:</label>
              {{ form.image }}
              {% if form.instance.image %}
                <div class="mt-2">
                  <p>Current Image:</p>
                  <img src="{{ form.instance.image.url }}" alt="{{ form.instance.name }}" width="100" height="100" style="object-fit: cover; border-radius: 4px;">
                </div>
              {% endif %}
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary custom-button">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% block footer %} {% include 'partials/footer.html' %} {% endblock footer %}
</div>
{% endblock content %}
