{% extends "partials/adminBase.html" %}
{% load static %}

{% block title %}Password Reset Sent{% endblock title %}

{% block extra_css %}



<style>

    .main-content {
    margin-left: 0px !important;
    overflow: hidden;
}


</style>




{% endblock extra_css %}

{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12 text-center">
                    <h2>Password Reset Email Sent</h2>
                    <p>We’ve emailed you instructions for setting your password.  
                       If you don’t receive an email, please make sure you entered the correct address 
                       and check your spam folder.</p>
                    <a href="{% url 'login_vendor' %}" class="btn btn-primary mt-3">Back to Login</a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
