{% extends "partials/adminBase.html" %}
{% load static %}

{% block title %}Set New Password{% endblock title %}



{% block extra_css %}



<style>

    .main-content {
    margin-left: 0px !important;
    overflow: hidden;
}


</style>

{% endblock extra_css %}

{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h2 class="text-center mb-4">Set Your New Password</h2>

                    {% if validlink %}
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary w-100">Change Password</button>
                        </form>
                    {% else %}
                        <p class="text-danger">The password reset link is invalid or has expired.</p>
                        <a href="{% url 'password_reset' %}" class="btn btn-secondary">Request New Link</a>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
