{% extends "partials/adminBase.html" %}
{% load static %}

{% block title %}User Profile{% endblock title %}

{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row"><div class="col-12"><div class="page-title-box"><h4>User Profile</h4></div></div></div>
            <div class="container">
                <div class="form-container">
                    <div class="text-center mb-4">
                        {% if user.profile_photo %}
                            <img src="{{ user.profile_photo.url }}" alt="Profile Photo" class="rounded-circle" width="150" height="150">
                        {% else %}
                            <img src="{% static 'images/default-user.webp' %}" alt="Default Profile" class="rounded-circle" width="150" height="150">
                        {% endif %}
                    </div>

                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">Name</th>
                                <td>{{ user.get_full_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Mobile</th>
                                <td>{{ user.mobile }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>
                                {{ user.email }}
                                {% if user.email_verified %}
                                    <span class="badge bg-success">Verified</span>
                                {% else %}
                                    <span class="badge bg-danger">Not Verified</span>
                                    <a href="{% url 'change_email' %}" class="btn btn-sm btn-warning ms-2">Verify Now</a>
                                {% endif %}
                            </td>
                            </tr>
                            <tr>
                                <th scope="row">Firebase UID</th>
                                <td>{{ user.firebase_uid }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Role</th>
                                <td>
                                    {% if user.is_superuser %}
                                        Admin
                                    {% elif user.is_service_provider %}
                                        Service Provider
                                    {% elif user.is_customer %}
                                        Customer
                                    {% else %}
                                        User
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="text-center mt-4">
                        <a href="{% url 'change_password' %}" class="btn btn-outline-primary me-2">Change Password</a>
                        <a href="{% url 'change_email' %}" class="btn btn-outline-secondary me-2">Change Email</a>
                        <!-- You can create another view+form for editing name/photo -->
                        <a href="{% url 'edit_user_profile' %}" class="btn btn-outline-success me-2">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
